---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';
import '../styles/Navbar.css';
import type { Region } from '../../addons';
const { nomeRegione } = Astro.params;
let res: Region | Response = await fetch(
	`https://schooldown.vercel.app/api/${nomeRegione!.replaceAll('-', ' ')}`,
);
let isValidRegion = res.status != 400 ? true : false;
let region = isValidRegion
	? nomeRegione
	: (await res.text()) == 'Bad Request'
	? 'Invalid'
	: await res.text();
if (!isValidRegion) {
	return Astro.redirect(`/${region!.replaceAll(' ', '-')}`);
} else {
	res = await res.json();
}
const countdownInizio = Math.floor(
	(res as Region).inizioLezioni - Date.now() / 1000,
);
const countdownFine = Math.floor(
	(res as Region).fineLezioni - Date.now() / 1000,
);
let mesi = 0;
let settimane = 0;
let giorni = 0;
let ore = 0;
let minuti = 0;
let secondi = 0;
let restoMesi = 0;
let restoSettimane = 0;
let restoGiorni = 0;
let restoOre = 0;
let restoMinuti = 0;
if (countdownInizio < 0) {
	mesi = Math.floor(countdownFine / (2.628 * 10 ** 6));
	restoMesi = Math.floor(countdownFine % (2.628 * 10 ** 6));
	settimane = Math.floor(restoMesi / (6.048 * 10 ** 5));
	restoSettimane = Math.floor(restoMesi % (6.048 * 10 ** 5));
	giorni = Math.floor(restoSettimane / (8.64 * 10 ** 4));
	restoGiorni = Math.floor(restoSettimane % (8.64 * 10 ** 4));
	ore = Math.floor(restoGiorni / (3.6 * 10 ** 3));
	restoOre = Math.floor(restoGiorni % (3.6 * 10 ** 3));
	minuti = Math.floor(restoOre / (6.0 * 10));
	restoMinuti = Math.floor(restoOre % (6.0 * 10));
	secondi = Math.floor(restoMinuti);
} else {
	mesi = Math.floor(countdownInizio / (2.628 * 10 ** 6));
	restoMesi = Math.floor(countdownInizio % (2.628 * 10 ** 6));
	settimane = Math.floor(restoMesi / (6.048 * 10 ** 5));
	restoSettimane = Math.floor(restoMesi % (6.048 * 10 ** 5));
	giorni = Math.floor(restoSettimane / (8.64 * 10 ** 4));
	restoGiorni = Math.floor(restoSettimane % (8.64 * 10 ** 4));
	ore = Math.floor(restoGiorni / (3.6 * 10 ** 3));
	restoOre = Math.floor(restoGiorni % (3.6 * 10 ** 3));
	minuti = Math.floor(restoOre / (6.0 * 10));
	restoMinuti = Math.floor(restoOre % (6.0 * 10));
	secondi = Math.floor(restoMinuti);
}
---

<Layout>
	<nav id="navbar">
		<h1 id="navtext">Schooldown - School Countdown</h1>
	</nav>
	{region != 'Invalid' ? (
	<h1>{region!.replaceAll('-', ' ')}</h1>
	<h1>
		{countdownInizio < 0 ? 'La scuola finisce tra:' : 'La scuola inizia tra:'}
	</h1>
	<h1 id="countdown">
		{
			`${mesi} mesi, ${settimane} settimane, ${giorni} giorni, ${ore} ore, ${minuti} minuti, ${secondi} secondi`
		}
	</h1>) : <h1>Something went wrong...</h1>}
	<script>
		const countdown = document.getElementById('countdown');
		let mesi = parseInt(countdown!.innerText.split(',')[0]);
		let settimane = parseInt(countdown!.innerText.split(',')[1]);
		let giorni = parseInt(countdown!.innerText.split(',')[2]);
		let ore = parseInt(countdown!.innerText.split(',')[3]);
		let minuti = parseInt(countdown!.innerText.split(',')[4]);
		let secondi = parseInt(countdown!.innerText.split(',')[5]);
		setInterval(() => {
			if (secondi > 0) {
				secondi -= 1;
			} else if (minuti > 0) {
				secondi = 59;
				minuti -= 1;
			} else if (ore > 0) {
				minuti = 59;
				ore -= 1;
			} else if (giorni > 0) {
				ore = 23;
				giorni -= 1;
			} else if (settimane > 0) {
				giorni = 6;
				settimane -= 1;
			} else if (mesi > 0) {
				settimane = 3;
				mesi -= 1;
			}
			countdown!.innerHTML = `${mesi} mesi, ${settimane} settimane, ${giorni} giorni, ${ore} ore, ${minuti} minuti, ${secondi} secondi`;
		}, 1000);
	</script>
</Layout>
